/* Index */

.container-top.left
  = render partial: "breadcrumbs"
.container-middle.left
  = render partial: "campus", locals: { object: @campus }
  = render partial: "campus_assets"
  .separator.small
  = render partial: "equipment", locals: { object: @equipment }
  = render partial: "equipment_assets"
.container-bottom.left
