/* Index */

.container-top.left
  .breadcrumbs
    .breadcrumbs-box
      .breadcrumbs-item
        = link_to root_path, class: "link small" do
          .icon.left
            = image_tag "icons/back.png"
          = t("home")

.container-middle.left

  .content
    .content-box
      .content-item
        - if @object.title.presence
          %h1= @object.try(:title)
        .separator.small
        - if @object.description.presence
          .trix
            = safe_join([@object.try(:description).html_safe])

  / Partnerships
  .partnerships
    .partnerships-box
      - @partnerships.each do |partnership|
        .partnerships-item
          - if partnership.url.presence
            = link_to partnership.url do
              - if partnership.thumb_box.presence
                = image_tag partnership.thumb_box_url.to_s
              - else
                = partnership.title
          - else
            .partnerships-inner
              - if partnership.thumb_box.presence
                = image_tag partnership.thumb_box_url.to_s
              - else
                %p= partnership.title

.container-bottom.left
