/* Index */

.container-top.left
  .breadcrumbs
    .breadcrumbs-box
      .breadcrumbs-item
        = link_to root_path, class: "link small" do
          .icon.left
            = image_tag "icons/back.png"
          = t("home")
.container-middle.left
  .content
    .content-box
      - if @articles.title.presence
        .content-item
          %h1= @articles.try(:title)
      - if @articles.description.presence
        .content-item
          .trix
            = safe_join([@articles.try(:description).html_safe])
  .articles
    .articles-box
      - @journal_articles.each do |journal_article|
        .articles-item
          .articles-inner
            = image_tag journal_article.thumb_box_url
          .separator.extra-small
          = link_to article_path(journal_article), class: "blue" do
            .icon.left
              = image_tag "icons/underscore.png"
            = journal_article.title
            // = (journal_article.title).truncate(24)
.container-bottom.left
