/* Secondary navigation */

.secondary-navigation
  .secondary-navigation-box
    .secondary-navigation-item
      = link_to "Quem Somos", root_path, class: "white"
    .secondary-navigation-item
      = link_to "Instalações & Equipamento", root_path, class: "white"
    .secondary-navigation-item
      = link_to "Qualidade", root_path, class: "white"
    .secondary-navigation-item
      = link_to "Parcerias", root_path, class: "white"
    .secondary-navigation-item
      = link_to "Cursos", root_path, class: "white"
    .secondary-navigation-item
      = link_to "Notícias", root_path, class: "white"
    .secondary-navigation-item
      = link_to "Contactos", root_path, class: "white"
    .secondary-navigation-item
      = link_to "Newsletter", root_path, class: "white"
    .secondary-navigation-item
      = link_to "Alunos", root_path, class: "white"
    .secondary-navigation-item
      = link_to "Pais", root_path, class: "white"
    .secondary-navigation-item
      = link_to "Professores", root_path, class: "white"
