/* Sponsor navigation */

.sponsor-navigation.right.altai-center
  .sponsor-navigation-box
    .sponsor-navigation-item
      = link_to root_path do
        = image_tag "small_sponsor.png", size: "64x32"
    .sponsor-navigation-item
      = link_to root_path do
        = image_tag "small_sponsor.png", size: "64x32"
    .sponsor-navigation-item
      = link_to root_path do
        = image_tag "small_sponsor.png", size: "64x32"
    .sponsor-navigation-item
      = link_to root_path do
        = image_tag "small_sponsor.png", size: "64x32"
    .sponsor-navigation-item
      = link_to root_path do
        = image_tag "small_sponsor.png", size: "64x32"
    .sponsor-navigation-item
      = link_to root_path do
        = image_tag "small_sponsor.png", size: "64x32"
    .sponsor-navigation-item
      = link_to root_path do
        = image_tag "small_sponsor.png", size: "64x32"
    .sponsor-navigation-item
      = link_to root_path do
        = image_tag "small_sponsor.png", size: "64x32"
    .sponsor-navigation-item
      = link_to root_path do
        = image_tag "small_sponsor.png", size: "64x32"
    .sponsor-navigation-item
      = link_to root_path do
        = image_tag "small_sponsor.png", size: "64x32"
