/ Courses

.courses
  .courses-box
    - objects.each do |object|
      - object.courses.each do |course|
        .courses-item
          .courses-right
            .figure{ style: "background-image: url(#{image_path "course_thumbnail.png"})" }
          .courses-left
            %h3{ class: "set-theme-#{course.slug}" }
              .icon.left
                = image_tag "icons/course.png"
              = course.title
            .separator.small
            .trix.left
              = safe_join([course.try(:description).html_safe])
            = link_to "Ler Mais", course_path(course), class: "button large blue left set-theme-#{course.slug}"
            - if course.video_box.presence
              = link_to "https://www.youtube.com/embed/#{course.video_box}", "data-featherlight" => "iframe", "data-featherlight-iframe-allowfullscreen" => "true", "data-featherlight-iframe-frameborder" => "0", "data-featherlight-iframe-height" => "540", "data-featherlight-iframe-width" => "960", class: "link large blue right" do
                .icon.left
                  = image_tag "icons/video.png"
                Ver Vídeo
          = render "theme", object: course
