/* Section navigation */

.section-navigation
  .section-navigation-box
    - sections.each do |section|
      .section-navigation-item
        = link_to section.title, course_section_path(course, section), remote: true, class: "button extra-large blue set-theme-#{course.slug}"

    - if course.image_box.presence
      .section-navigation-item
        = link_to "Componentes de Formação", course.image_box_url.to_s, target: :blank, "data-featherlight" => "image", class: "button extra-large blue gallery set-theme-#{course.slug}"
    - elsif course.image_box_magestil.presence
      .section-navigation-item
        = link_to "Componentes de Formação", course.image_box_magestil_url.to_s, target: :blank, "data-featherlight" => "image", class: "button extra-large blue gallery set-theme-#{course.slug}"

    - if course.document_box.presence
      .section-navigation-item
        = link_to "Descarregar PDF", course.document_box_url.to_s, target: :blank, class: "button extra-large blue set-theme-#{course.slug}"
    - elsif course.document_box_magestil.presence
      .section-navigation-item
        = link_to "Descarregar PDF", course.document_box_magestil_url.to_s, target: :blank, class: "button extra-large blue set-theme-#{course.slug}"

    - if course.video_box.presence
      .section-navigation-item
        = link_to "Ver Vídeo", "https://www.youtube.com/embed/#{course.video_box}", "data-featherlight" => "iframe", "data-featherlight-iframe-allowfullscreen" => "true", "data-featherlight-iframe-frameborder" => "0", "data-featherlight-iframe-height" => "540", "data-featherlight-iframe-width" => "960", class: "button extra-large blue set-theme-#{course.slug}"
    .section-navigation-item
      = link_to "Pré-inscrição", category_enrollments_path(course.category), remote: false, class: "button extra-large blue set-theme-#{course.slug}"
