/* Index */

.container-top.left
  .breadcrumbs
    .breadcrumbs-box
      .breadcrumbs-item
        = link_to root_path, class: "link small" do
          .icon.left
            = image_tag "icons/back.png"
          = t("home")

.container-middle.left

  .content
    .content-box
      .content-item
        - if @object.title.presence
          %h1= @object.try(:title)
        .separator.small
        - if @object.description.presence
          .trix
            = safe_join([@object.try(:description).html_safe])

  / Courses
  .courses
    .courses-box
      - @categories.each do |category|
        - category.courses.each do |course|
          .courses-item
            .courses-right
              .figure{ style: "background-image: url(#{image_path "course_thumbnail.png"})" }
            .courses-left
              %h3= course.title
              .separator.small
              .trix.left
                = safe_join([course.try(:description).html_safe])
              = link_to "Ler Mais", course_path(course), class: "button large blue left"

.container-bottom.left
