/* Index */

.container-top.left
  .breadcrumbs
    .breadcrumbs-box
      .breadcrumbs-item
        = link_to courses_path, class: "link small" do
          .icon.left
            = image_tag "icons/back.png"
          = t("back")

.container-middle.left

  .content
    .content-box
      .content-item
        - if @course.title.presence
          %h1= @course.try(:title)

  .section-content
    .section-content-box
      .section-content-item
        .section-content-left
          .section-content-inner#ajax-content
            %h3= @course_section.title
            - @section_assets.each do |asset|
              .trix
                = safe_join([asset.text_box.html_safe])
        .section-content-right
          .section-navigation
            .section-navigation-box
              - @course_sections.each do |course_section|
                .section-navigation-item
                  = link_to course_section.title, course_section_path(@course, course_section), remote: true, class: "button large blue"
              - if @course.image_box_magestil.presence
                .section-navigation-item
                  = link_to "Componentes de Formação", @course.image_box_magestil_url.to_s, target: :blank, "data-featherlight" => "image", class: "button large blue gallery"
              - if @course.document_box_magestil.presence
                .section-navigation-item
                  = link_to "Descarregar PDF", @course.document_box_magestil_url.to_s, target: :blank, class: "button large blue"

.container-bottom.left
