/* Index */

.container-top.left
  / Breadcrumbs
  .breadcrumbs
    .breadcrumbs-box
      .breadcrumbs-item
        = link_to root_path, class: "link small" do
          .icon.left
            = image_tag "icons/back.png"
          = t("home")

.container-middle.left
  / Content
  .content
    .content-box
      .content-item
        - if @parents.title.presence
          %h1= @parents.try(:title)
        .separator.small
        - if @parents.description.presence
          .trix
            = safe_join([@parents.try(:description).html_safe])

  .separator.small

  = render partial: "wallets"

.container-bottom.left
