!!!
%html
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }/
    %meta{ content: "width=device-width, initial-scale=1.0", name: "viewport" }/
    %meta{ content: "IE=Edge", "http-equiv" => "X-UA-Compatible" }/
    %title= application_configuration["title"]
    %meta{ content: application_configuration["description"].to_s, name: "description" }/
    = render partial: "lib/global/meta_tags"
    = render partial: "lib/global/favicon"
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload"
    = javascript_include_tag "application", "data-turbolinks-track": "reload"
  %body
    = render partial: "lib/global/header"
    = render partial: "lib/components/responsive_navigation"
    = render partial: "lib/global/main"
    = render partial: "lib/global/footer"
